/**
 * VAR
 */

$neon-green : #83f52c;
$neon-cyan : #70fff7;
$neon-pink : #ff0099;
$text-glow-small : 0px 0px 3px rgba(33, 255, 0, 0.5);
$text-glow : 0px 0px 30px rgba(33, 255, 0, 1);
$hcc-black : #FFFFFF;

/**
 * THEME RESET
 */
body { background-color: $hcc-black; color: black; }
a { color: #000; }
.sub.header.neon-green,
.neon-green {
  color: $neon-green !important;
  // color: #84db64 !important;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background-color: $hcc-black;
}
.text-centered {
  text-align: center !important;
}

.ui.piled.segment:after, .ui.piled.segment:before, .ui.piled.segments:after, .ui.piled.segments:before {
  background-color: $neon-green !important;
}
.glow{
  text-shadow: $text-glow;
}
#logo{width: 200px;}
/** 
#77ffbf
#7afff8
#ff32e0
#70fff7
*/
/**
 * ERROR COLORS
 */
.alert-danger {
  background-color: $neon-pink;
  border-color: #77ffbf;
  color: white;
}
.field.error label {
  color: $neon-pink !important;
}

.ui.positive.message
{
  background-color: $hcc-black;
  .header{
    color: #000 !important;
  }
  p {
    color: #000 !important;
  }
}

/**
 * LAYOUT
 */
#bible-reading-container{
  margin: 15px auto 5px auto;
}

@media only screen and (min-width: 1200px) {
  #bible-reading-container {
    max-width: 700px !important;
    margin: 100px auto 20px auto;
  }

  #bible-reading-container .ui.form {
    margin: 1em;
  }
}

@media only screen and (max-width: 740) {
  #bible-reading-container {
    margin: auto;
  }

  #bible-reading-container .ui.form {
    margin: 1em;
  }
}

@media (min-width: 992px) {
  .lg-only {
    display: none;
  }
  .width-lg-comment-history {
    width: 56em !important;
  }
}

@media (min-width: 772px) {

  .md-only {
    display: none;
  }
  .width-md-comment-history {
    width: 44em;
  }
}

@media (min-width: 576px) {
  .mobile-only {
    display: none;
  }
}


/**
 * FORMS
 */
#bible-reading-checkin,
#bible-reading-signup{
  .field .ui.dropdown .item {
    font-size: 1.05em !important;
  }

  .field i.icon {
    color: black !important;
  }

  .field .labeled.input .ui.label {
    color: black !important;
  }

  .field .labeled.input .ui.label,
  .field .ui.dropdown.selection,
  .field input[type=file],
  .field input[type=text],
  .field input[type=number],
  .field input[type=email],
  .field input[type=date],
  .field input[type=password],
  .field textarea
  {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 1.3em !important;
    background-color: #FFF !important;
    color: black !important;

    .dropdown.icon {
      line-height: 2.3em;
    }
  }
  .field.error .ui.dropdown.selection, 
  .field.error .ui.dropdown .text, 
  .field.error input
  {
    color:white !important;
    background-color: $neon-pink !important;
  }
}

.m-auto {
  margin: auto !important;
}
.p-clear {
  padding: 2.5px 5px !important;
}
.chapter.button {
  margin: 0.1rem 0.1rem!important;
  text-align: center !important;
  width: 100% !important;
}


/**
 * Display
 */

.my.hidden.divider {
  visibility: hidden;
  width: 100%;
  height: 0.5rem;
}

.my.fluid {
  width: 100%;
}

/**
 * Card
 */

.ui.card>:first-child {
  margin-bottom:1rem;
}

/**
 * Other
 */
 
.text-multiline {
  white-space: pre-line;
  word-break: break-word;
}

/** bootstrap margin **/

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
} 

@import 'zz';
@import '../featherlight/featherlight.min.css';