.border-inset{
  border: 7px white solid;
  box-sizing: border-box;
}
.inline {
  display: inline !important;
}
.hide {
  display: none;
}

.uppercased {
  text-transform: uppercase;
}

@media (max-width: 1350px) {}
@media (max-width: 1200px) {}
@media (max-width: 1024px) {}
@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}
@media (max-width: 767px) {
    .mobile-hidden {
        display: none !important;
    }
}